:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;

    --special: #663d15;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
    text-transform: uppercase;
    background: var(--basic-dark);
    background-image: url(../img/white\ background@2x.png);
    background-repeat: repeat;
    color: var(--basic-black);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-body {
    color: var(--basic-white);
    background-color: var(--basic-black);
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

.box {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* BUTTON*/

.button {
    background-color: var(--basic-black);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: 700;
    font: inherit;
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;
}

.button:hover {
    background-color: var(--basic-dark);
    transition: 0.5s;
}

.button:disabled {
    color: #c7c3be;
    background-color: #938b8b;
}

/* HEADER */

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo-navigation {
    order: 1;
    width: 371px;
    height: 155px;
}

.main-navigation-wrapper {
    background-color: var(--basic-black);
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 60px;
}

.main-navigation-wrapper .box {
    display: flex;
    justify-content: space-between;
}

.main-navigation-list a,
.main-navigation-list li {
    color: var(--basic-white);
    list-style: none;
}

.main-navigation-list {
    width: 620px;
    margin: 0;
    padding: 0;
    min-height: 70px;
    display: flex;
}

.main-navigation-item:hover,
.login-link:hover {
    background-color: var(--basic-dark);
    transition: 0.5s;
}

.main-navigation-list a,
.login-link {
    display: block;
    padding: 25px 20px;
}

.login {
    max-width: 140px;
}

.login-link {
    padding-left: 50px;
    position: relative;
}

.login-link::before {
    content: "";
    width: 16px;
    height: 18px;
    background-image: url(../img/svg/login-navi.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 28px;
    left: 24px;
}

/* INNER-NAVI */

.inner-navi .main-logo-navigation {
    order: 0;
    display: block;
    margin-top: 25px;
    margin-left: 20px;
}

.inner-navi .main-logo-navigation {
    width: 111px;
    height: 24px;
}

/* ADVANTURES */

.advantages {
    margin-top: 70px;
    margin-bottom: 80px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.advantages-list-item {
    text-align: center;
    text-transform: uppercase;
}

.advantages-list-item h3 {
    margin-bottom: 60px;
    position: relative;
}

.advantages-list-item h3::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--basic-white);
    transform: rotate(45deg);
}

.advantages-list-item p {
    margin: 0 10px;
}

.container {
    background: var(--basic-dark);
    background-image: url(../img/shape.png),
        url(../img/white\ background@2x.png);
    background-repeat: no-repeat, repeat;
    background-position: center, 0 0;
    color: var(--basic-black);
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;
}

.container h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

/* NEWS */

.news {
    width: 380px;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

/* GALLERY */

.gallery {
    width: 300px;
    position: relative;
}

.gallery-button-back,
.gallery-button-next {
    position: absolute;
    bottom: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
    margin-right: 0;
}

.gallery img {
    width: 286;
    height: 164;
    margin: 0 auto;
    display: block;
}

.gallery figure {
    margin: 0;
    padding: 10px 0;
    background-color: var(--basic-white);
}

/* CONTACTS */

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

/* APPOINTMENT */

.appointment {
    width: 300px;
}

.appointment-info {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-item {
    margin: 0;
    margin-bottom: 10px;
    width: 140px;
}

.appointment-item label {
    margin-bottom: 9px;
    margin-left: 15px;
    display: block;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-form input {
    background-color: transparent;
    border: 2px solid var(--basic-black);
    width: 140px;
    padding: 10px 17px;
    box-sizing: border-box;
}

.appointment .button {
    width: 100%;
    margin-right: 0;
}

/* SOCIAL */

.social {
    width: 145px;
    justify-self: center;
}

.social h2 {
    text-align: center;
}

.social a {
    background-color: var(--basic-black);
    width: 43px;
    height: 43px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    padding: 0;
    justify-self: end;
    text-align: center;
}

.footer-copyright .button {
    margin-right: 0;
    margin-top: 12px;
    display: block;
}

.social-button:hover path {
    fill: var(--basic-extra-dark);
}

.social-button:hover {
    background-color: var(--basic-extra-light);
}

/* Login form */

.login-window a {
    color: var(--basic-black);
    text-decoration: underline;
}

/* CATALOG-PAGE */

.catalog-page {
    display: grid;
    grid-template-columns: 220px 1fr;
}

.catalog-page h1,
.catalog-menu {
    grid-column: 1/-1;
}

.catalog-page h1 {
    margin-bottom: 15px;
}

.catalog {
    margin-left: 20px;
}

.catalog-menu {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.catalog-menu li {
    margin-right: 40px;
    position: relative;
}

.catalog-menu li::after {
    content: "";

    width: 10px;
    height: 10px;
    background-color: var(--basic-black);
    position: absolute;
    transform: rotate(45deg);
    margin-left: 15px;
    top: 7px;
}

.catalog-menu li:last-child::after {
    content: "";

    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    transform: rotate(45deg);
    margin-left: 15px;
    top: 7px;
}

.catalog-form fieldset {
    border: none;
}

.catalog-form-list li {
    margin-bottom: 20px;
}

.catalog-form-list li label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.catalog-form-list label::before {
    content: "";

    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid var(--basic-black);
    top: 0;
    left: -42px;
}

.filter-input:checked + label::after {
    content: "";

    position: absolute;
    top: 4px;
    left: -38px;
    width: 12px;
    height: 12px;
    background-image: url(../img/svg/cross.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-form-list-groups label::before {
    content: "";

    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    top: 0;
    left: -42px;
}

.form-input:checked + label::after {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    background-color: var(--basic-black);
    top: 6px;
    left: -36px;
}
*/ .catalog-form legend {
    font-size: 24px;
    line-height: 30px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.catalog-list li {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 285px;
    font-size: 14px;
    line-height: 18px;
}

.catalog-list li:nth-child(3n) {
    margin-right: 0;
}

.catalog-menu a,
.catalog-list a,
.catalog-page-number a {
    color: var(--basic-black);
}

.catalog-menu li,
.catalog-list li,
.catalog-page-number li,
.catalog-form-list li {
    list-style: none;
}

.catalog-item-container {
    background-color: var(--basic-white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.catalog-item-container:hover {
    position: relative;
    transform: scale(1.1);
    transition: 1s;
}

.catalog-item-container h3 {
    margin-top: 17px;
    margin-right: 15px;
    margin-bottom: 12px;
    margin-left: 16px;
    order: 1;
    font-size: 14px;
    line-height: 18px;
}

.catalog-item-container .catalog-item-price {
    background-color: var(--basic-neutral);
    margin: 0;
    padding: 13px 35px;
    display: inline-block;
    margin-left: 16px;
}

.catalog-item-container .button {
    padding: 13px 18px;
}

.catalog-page-number a {
    color: var(--basic-white);
    background-color: var(--basic-black);
}

.catalog-item-container a {
    display: flex;
    flex-direction: column;
}

.catalog-page-number {
    display: flex;
    padding: 0;
    margin: 0;
}

.catalog-page-number a {
    display: block;
    padding: 10px 19px;
    margin-right: 5px;
}

.catalog-page-number a:hover {
    background-color: var(--basic-dark);
}

/* PRICE */

.main-price {
    background: var(--basic-dark);
    background-image: url(../img/white\ background@2x.png);
    background-repeat: repeat;
    color: var(--basic-black);
    padding: 0;
}

.price-container {
    display: flex;
    justify-content: space-between;
}

.price-catalog {
    width: 380px;
}

.price-value {
    width: 460px;
}

.price-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price-about h3 {
    grid-column: 1/-1;
}

.main-price h1 {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 16px;
}

.price-about p {
    font-size: 14px;
    line-height: 24px;
}

.price-about p:nth-child(2) {
    width: 380px;
}

.price-about p:nth-child(3) {
    width: 380px;
}

.main-price h2 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.main-price h2::after,
.main-price h2::before {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    height: 2px;
    background-color: var(--basic-black);
}

.main-price h2::after {
    margin-left: 25px;
}

.main-price h2::before {
    margin-right: 25px;
}

.price-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.price-menu li {
    margin-right: 40px;
    position: relative;
}

.price-menu li:first-child:after {
    content: "";

    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--basic-black);
    transform: rotate(45deg);
    margin-left: 15px;
    top: 7px;
}

.price-menu a {
    color: var(--basic-black);
}

.currently {
    color: var(--basic-dark);
    color: ;
}

.price-catalog-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.price-catalog-list li {
    position: relative;
    margin-bottom: 13px;
}

.price-catalog-list li::before {
    content: "";

    width: 10px;
    height: 10px;
    background-color: var(--basic-black);
    position: absolute;
    transform: rotate(45deg);
    margin-left: -20px;
    top: 7px;
}

.price-catalog h3,
.price-value h3,
.price-about h3 {
    font-size: 24px;
    line-height: 30px;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
}

.price-table td:last-child {
    text-align: center;
}

.price-table td {
    width: 50%;
    border: 2px solid var(--basic-black);
    padding: 10px 20px;
}

/* PAGE-CATALOG-ITEM */

.item-page {
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 90px;
}

.item-image-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.item-page h1,
.catalog-item-menu {
    grid-column: 1/-1;
}

.catalog-item-menu a {
    color: var(--basic-black);
}

.catalog-item-menu li,
.catalog-item-image li {
    list-style: none;
}

.catalog-item-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 53px;
    margin-top: 15px;
}

.catalog-item-menu li {
    margin-right: 40px;
    position: relative;
}

.catalog-item-menu li::after {
    content: "";

    width: 10px;
    height: 10px;
    background-color: var(--basic-black);
    position: absolute;
    transform: rotate(45deg);
    margin-left: 15px;
    top: 7px;
}

.catalog-item-menu li:last-child::after {
    content: "";

    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    transform: rotate(45deg);
    margin-left: 15px;
    top: 7px;
}

.item-description {
    position: relative;
    font-size: 14px;
    line-height: 24px;
}

.item-description p:nth-child(3) {
    position: absolute;
    right: 0;
    top: 0;
}

.item-description p:nth-child(4) {
    margin-top: 29px;
}

.item-kit {
    font-size: 14px;
    line-height: 24px;
}

.item-kit h2 {
    margin-top: 60px;
}

.catalog-item-price {
    display: inline-block;
    padding: 10px 30px;
}

.item-kit-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.item-kit-list li {
    position: relative;
    margin-bottom: 14px;
}

.item-kit-list li::before {
    content: "";

    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--basic-black);
    margin-left: -20px;
    top: 7px;
}

/* FOOTER */

.main-footer {
    background-color: var(--basic-extra-dark);
    background-image: url(../img/black\ background@2x.png);
    background-repeat: repeat;
    font-size: 14px;
    line-height: 24px;
    padding: 60px 0;
    margin-top: 65px;
    color: var(--basic-white);
}

.main-footer .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-footer h2 {
    font-size: 14px;
    line-height: 24px;
}

.main-footer-contact {
    width: 320px;
    margin: 0;
}

.main-footer-contact p {
    margin: 0;
}

.main-footer-contact a {
    text-decoration: underline;
}

/* MODAL */

.modal {
    margin: 0 auto;
    padding: 0;
    background-color: var(--basic-extra-light);
    background-image: url(../img/white\ background@2x.png);
    background-repeat: repeat;
    background-position: 0 0;
    color: var(--basic-black);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.75);
}

.modal-login {
    width: 460px;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 120px;
    bottom: auto;
    box-sizing: border-box;
    display: none;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.modal-close::after,
.modal-close::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;
    background-color: var(--basic-dark);
}

.modal-close::after {
    transform: rotate(45deg);
}

.modal-close::before {
    transform: rotate(-45deg);
}

.modal-map {
    display: none;
    width: 766px;
    bottom: auto;
    border: 7px solid white;
    padding: 0;
}

.modal-map img {
    display: block;
}

.modal-show {
    display: block;
}

.modal-forgot-password {
    color: var(--basic-dark);
}

.template-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
